language: generic
sudo: false

addons:
    apt:
        packages:
            - libgmp-dev

cache:
    directories:
        - $HOME/.stack


before_install:
    - mkdir -p ~/.local/bin
    - export PATH=$HOME/.local/bin:$PATH
    - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
    - stack setup

install:
    - stack build

script:
    - stack --no-terminal --skip-ghc-check test --haddock --no-haddock-deps
    - stack --no-terminal --skip-ghc-check test --coverage
